.posts-menu {
    align-items: center;
    background-color: #3b3b3b;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 600px;
}

.posts-menu-header {
    align-items: center;
    border-bottom: 5px solid #5c5c5c;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 20px;
    width: 100%;
}

.posts-menu-header-title {
    color: #ffffff;
    font-size: 24px;
}